{% extends "master.html" %}

{% block title %} - Job {{ job_id }}{% endblock %}

{% block body %}
<div class="container main">
    <div class="job section">
        <h1>Job #{{ job_id }}</h1>

        <pre><code>{ a: "b", c: "d" }</code></pre>

        <div class="meter animate blue">
            <span style="width: {{ 105 / 168 * 100 }}%"><span></span></span>
        </div>

        <table class="table table-striped table-bordered table-condensed">
            <tbody>
                <tr>
                    <td>mapped input streams</td>
                    <td>105</td>
                </tr>
                <tr>
                    <td>total input streams</td>
                    <td>168</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
{% endblock %}
