{% extends "master.html" %}

{% block title %} - Overview{% endblock %}

{% block body %}
<div class="container main">
    <div class="stats section">
        <h1>Statistics</h1>

        <div class="actions">
            <button class="r3-stats btn btn-small btn-success">r³</button>
            <button class="all-keys btn btn-small btn-info">all keys</button>
            <button class="all-keys btn btn-small btn-info">redis</button>
        </div>

        <h2>r³</h2>

        <table class="table table-striped table-bordered table-condensed">
            <tbody>
                <tr>
                    <td>job-types</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>redis server</td>
                    <td>redis.r3.globoi.com:20004</td>
                </tr>
                <tr>
                    <td>failed jobs</td>
                    <td>120312</td>
                </tr>
                <tr>
                    <td>processed</td>
                    <td>481492</td>
                </tr>
                <tr>
                    <td>mappers</td>
                    <td>42</td>
                </tr>
            </tbody>
        </table>

        <h2>keys owned by r³</h2>
        <h3>(All keys are actually prefixed with "r3:")</h3>

        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>key name</th>
                    <th class="type-col">type</th>
                    <th>size</th>
                </tr>
            </thead>

            <tbody>
                {% for i in range(100) %}
                <tr>
                    <td>count-words::102301203321103023::output</td>
                    <td>string</td>
                    <td>1</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>redis.r3.globoi.com:20001</h2>
 
        <table class="table table-striped table-bordered table-condensed">
            <tbody>
                <tr>
                    <td>pubsub_channels</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>used_memory_peak_human</td>
                    <td>168.22M</td>
                </tr>
                <tr>
                    <td>bgrewriteaof_in_progress</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>connected_slaves</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>uptime_in_days</td>
                    <td>52</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
