body {
    font-family: arial;
}

.container {
    width: 95%;
    margin: 0 auto;
}

header {
    background-color: #4d7cb5;
    height: 102px;
    overflow: hidden;
}

header a {
    display: block;
    float: left;
}

header a h1 {
    background: url(../img/logo.png) no-repeat;
    width: 162px;
    height: 62px;
    margin-top: 20px;
    margin-left: 40px;
    text-indent: -999999px;
}

header .menu {
    float: right;
    margin-top: 26px;
}

header nav {
    overflow: hidden;
    height: 18px;
}

header nav li {
    padding: 0 5px;
    border-right: solid 1px #5c84b5;
    float: left;
}

header nav li:last-child {
    border-right: none;
    padding-right: 0;
}

header nav li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

header nav li a:hover {
    text-decoration: underline;
}

header aside {
    text-align: right;
    margin-top: 12px;
    font-size: 13px;
    color: #c6cfd9;
}

header aside .running,
header aside .active-workers,
header aside .active-job-types,
header aside .redis-url {
    font-weight: bold;
    color: #fff;
}

footer {
    height: 50px;
    background-color: #4d7cb5;
    text-align: center;
    overflow: hidden;
}

footer a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 11px;
    margin-top: 15px;
    display: block;
}

footer a:hover {
    text-decoration: underline;
}

